---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";

import "../styles/global.css";
---

<BaseLayout pageTitle="Home Page">
  <h1>Astro</h1>
  <h1>Astro tutorial</h1>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <Greeting client:visible messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
